# Server
NODE_ENV=development
PORT=3000

# Database
# Local example:
MONGODB_URI=mongodb://127.0.0.1:27017/church_registration_app
# MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/church_registration_app

# Security - use a long random value in production
SESSION_SECRET=replace_with_a_random_secret_at_least_32_characters

# First admin account created by: npm run seed
ADMIN_PHONE=01000000000
ADMIN_PASSWORD=123456789


# Cloudinary uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
