# Server port
PORT=3000

# MongoDB connection
MONGODB_URI=mongodb://127.0.0.1:27017/school_activity_app

# Session secret
SESSION_SECRET=make-this-a-long-random-secret-at-least-32-characters

# Node environment
NODE_ENV=production

# Google Cloud Storage
GCLOUD_PROJECT_ID=mahragan-uploads

GCS_BUCKET_NAME=mahragan-uploads
